<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fourdays.core.url.adapter.out.persistence.ProtocolMapper">

    <insert id="save" parameterType="java.lang.String">
        INSERT INTO tb_protocol (name)
        VALUES (#{name})
    </insert>

    <select id="findBySeq" parameterType="java.lang.Integer">
        SELECT *
        FROM tb_protocol
        WHERE seq = ${seq}
    </select>

    <select id="findByName" parameterType="java.lang.String">
        SELECT *
        FROM tb_protocol
        WHERE name = #{name}
    </select>

</mapper>